<div class="container mt-4">
  <div class="card">
    <h1>Aplicación Tareas Angular</h1>


    <form>
      <div class="form-group">
        <label for="tarea">Tarea</label>
        <input type="text" class="form-control" id="tarea" [(ngModel)]="nombre" name="tarea" placeholder="Nombre de la tarea">
      </div>
      <button type="submit" class="btn btn-primary" (click)="agregarTareas()">Agregar</button>
      <button type="submit" class="btn btn-primary" (click)="updateTarea()">Editar</button>

      <div class="mt-4">
        <h2>Lista de Tareas</h2>
        <table class="table">
          <thead>
            <h1 *ngIf="!isResultadosLoaded">Cargando datos...</h1>
            <tr>
              <th scope="col">ID Tarea</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of listaTareas">
              <td>{{t.idTarea}}</td>
              <td>{{t.nombre}}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="obtenerTarea(t)">Modificar</button>
                <button type="button" class="btn btn-danger" (click)="borrarTarea(t)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </form>
  </div>
</div>